html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family:
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
}

img {
  width: 100%;
}

li {
  padding: 1rem;
}

li a {
  text-decoration: none;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 8px;
  background-color: #ede3db;
  border: 2px solid #623b0c;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 1rem;
}
