html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
  background-color: #f5f2f0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
  margin: 0;
  padding: 1rem;
}

h2 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
}

img {
  width: 100%;
}

body {
  margin: 0;
}

li a {
  text-decoration: none;
  color: #fff;
  background-color: #623b0c;
  border-radius: 10px;
  padding: .5em .75em .6em;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 8px;
  background-color: #ede3db;
  border: 2px solid #623b0c;
  padding: 1rem;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 1rem;
}
